<ngx-parallax-stars
  [layers]="layers"
  [style.transform]="'translateY(' + scrollY * -0.1 + 'px)'"
></ngx-parallax-stars>

<div class="parallax-container">
  <section
    class="hero text-center d-flex align-items-center justify-content-center parallax"
    data-speed="0.95"
  ></section>

  <!-- Section 3 (Services Section) -->
  <section
    class="zodiac-circle text-center d-flex align-items-center justify-content-center fade-in"
    id="section3"
  >
    <div *ngIf="!(selectedZodiac >= 0)">
      <div class="circle position-relative">
        <!-- Center content -->
        <div class="center-content d-flex">
          <button
            (mouseenter)="setRotationSpeed(10, -1)"
            (mouseleave)="setRotationSpeed(60, -1)"
            (click)="rotateLeft()"
            class="rotate-button-left bg-glass text-white"
          >
            <i class="fas fa-chevron-left"></i>
          </button>
          <button
            (mouseenter)="setRotationSpeed(10, 1)"
            (mouseleave)="setRotationSpeed(60, 1)"
            (click)="rotateRight()"
            class="rotate-button-right bg-glass text-white"
          >
            <i class="fas fa-chevron-right"></i>
          </button>
          <!-- <h4 class="center-title">Select Your Zodiac Sign To Get Started</h4> -->
        </div>

        <div
          class="card"
          (mouseenter)="setRotationSpeed(100000, 1)"
          (mouseleave)="setRotationSpeed(60, 1)"
          *ngFor="let card of cards; let i = index"
          [ngStyle]="{
            transform:
              'rotate(' +
              (i * rotationDegree + rotationAngle) +
              'deg) translateY(-20rem)'
          }"
          (click)="setSelectedZodiac(i)"
        >
          <app-zodiac-card
            [imageSrc]="card.imageSrc"
            [title]="card.title"
            [description]="card.description"
            [buttonLabel]="card.buttonLabel"
          >
          </app-zodiac-card>
        </div>
        <div class="cover-zodiac-circle w-100 h-50"></div>
      </div>
    </div>
    <!-- Display when a zodiac sign is selected -->
    <div
      *ngIf="selectedZodiac >= 0 && !isShowResults"
      class="d-flex justify-content-between align-items-center"
    >
      <!-- Left Side: Image, Title, and Description -->
      <div class="left-side">
        <button
          (click)="unsetSelectedZodiac()"
          class="rotate-button left bg-glass text-white"
        >
          <i class="fas fa-chevron-left"></i>
        </button>
        <div class="zodiac-info w-50">
          <img
            [src]="selectedCard.imageSrc"
            alt="Zodiac Image"
            class="zodiac-img w-100 mb-5"
          />
          <h3>{{ selectedCard.title }}</h3>
          <p>{{ selectedCard.description }}</p>
        </div>
      </div>

      <!-- Right Side: Input fields for birth details -->
      <div
        class="w-50 p-4 bg-glass text-start text-white border-r1 font-small width-3"
      >
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
          <!-- Birth Time Picker -->
          <div class="mb-4">
            <label for="birthTime" class="form-label">Pick Birth Time:</label>
            <input
              type="time"
              id="birthTime"
              formControlName="birthTime"
              name="birthTime"
              class="form-control bg-glass text-white border-0"
            />
          </div>
          <div
            *ngIf="isFieldValid(inputForm, 'birthTime')"
            class="error-msg-display"
          >
            Birth Time is required
          </div>

          <!-- Birth Date Picker -->
          <div class="mb-4">
            <label for="birthDate" class="form-label">Pick Birth Date:</label>
            <input
              type="date"
              id="birthDate"
              formControlName="birthDate"
              name="birthDate"
              class="form-control bg-glass text-white border-0"
            />
          </div>

          <!-- Birth Location Input -->
          <div class="mb-4">
            <label for="birthLocation" class="form-label"
              >Input Birth Location:</label
            >
            <input
              type="text"
              id="birthLocation"
              formControlName="birthLocation"
              placeholder="Input your birth location"
              name="birthLocation"
              class="form-control bg-glass text-white border-0"
            />
          </div>

          <!-- Dropdown with options -->
          <div class="mb-4">
            <label for="optionsDropdown" class="form-label"
              >Choose an Option:</label
            >
            <select
              id="optionsDropdown"
              formControlName="selectedOption"
              name="optionsDropdown"
              class="form-select bg-glass text-white border-0"
            >
              <option value="" disabled selected>Select an option</option>
              <option
                *ngFor="let option of dropdownOptions"
                [value]="option?.id"
              >
                {{ option?.text }}
              </option>
            </select>
          </div>

          <!-- Submit button -->
          <button *ngIf="!isDataLoading" type="submit" class="btn btn-primary">
            Submit
          </button>
          <button *ngIf="isDataLoading" disabled class="btn btn-primary">
            Loading
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="selectedZodiac >= 0 && isShowResults" class="w-50">
      <h1 class="fw-bold">{{ selectedOptionTitle }}</h1>
      <div *ngFor="let yearData of storedData" class="year-data">
        <h3 class="year-title">{{ yearData?.year }}</h3>
        <div *ngFor="let entry of yearData?.data" class="data-entry">
          <h4 class="entry-title">{{ entry?.title }}</h4>
          <p class="entry-content font-small">{{ entry?.data }}</p>
        </div>
      </div>
      <button
        (click)="handleBackToOptions()"
        class="rotate-button bg-glass text-white"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
  </section>

  <section
    class="hero-content text-center d-flex align-items-center justify-content-center fade-in"
    id="section1"
  >
    <div class="container text-center">
      <img
        src="../../../../assets/images/logo.png"
        class="w-25 p-5 mx-auto glassy-image"
      />
      <h1 class="text-white">Welcome to AstroCope</h1>
      <p class="text-white w-75 mx-auto p-3">
        Discover the stars and unlock the secrets of your destiny with
        AstroCope, the ultimate horoscope app designed to guide you through
        life’s challenges and opportunities. Whether you're a curious beginner
        or a seasoned astrology enthusiast, AstroCope offers personalized
        insights tailored to your unique zodiac sign.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
  </section>

  <!-- Section 2 (Features Section) -->
  <section
    class="features text-center d-flex align-items-center justify-content-center bg-glass fade-in"
    id="section2"
  >
    <div class="container">
      <h2 class="text-white">Our Features</h2>
      <div class="d-flex justify-content-center">
        <div class="w-50">
          <app-card
            [imageSrc]="'../../../../assets/images/universe-1.jpg'"
            [gifSrc]="'../../../../assets/gifs/colors.gif'"
            [title]="'Custom Card Title'"
            [description]="'This is a custom description for the card.'"
            [buttonLabel]="'Click Me'"
          ></app-card>
        </div>
      </div>
      <p class="text-white w-75 mx-auto p-3 mt-3">
        Explore the amazing features we offer to make your experience better.
        Whether you're a curious beginner or a seasoned astrology enthusiast,
        AstroCope offers personalized insights tailored to your unique zodiac
        sign.
      </p>
    </div>
  </section>

  <section
    class="services text-center d-flex align-items-center justify-content-center fade-in"
    id="section4"
  >
    <div class="container">
      <h2 class="text-white">Our Services</h2>
      <p class="text-white">
        We provide top-notch services to meet all your needs.
      </p>
    </div>
  </section>

  <!-- Section 4 (Contact Section) -->
  <section
    class="contact text-center d-flex align-items-center justify-content-center fade-in"
    id="section5"
  >
    <div class="container">
      <h2 class="text-white">Get in Touch</h2>
      <p class="text-white">We’d love to hear from you. Contact us anytime.</p>
    </div>
  </section>

  <app-parallax></app-parallax>
</div>
